@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --animate-fadeIn: fadeIn 1s ease-in-out;
  --bg-transform: transform: scale(1.2);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}


.dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -4px;
  right: 95px;
}

.smdot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: 13px;
  right: 84px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none
}

@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}